.single-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-content__back-btn {
  border: none;
  border-radius: 5px;
  background-color: #5e239d;
  display: flex;
  position: fixed;
  top: 15px;
  left: 15px;
  color: #f4f4ed;
  font-size: 20px;
  width: 110px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.single-content__back-btn:hover {
  opacity: 1;
}

.single-content__back-btn-icon {
  width: 30px;
  height: 30px;
}

.single-content__back-btn-icon img {
  width: 100%;
  height: 100%;
}

.single-content__image-or-video {
  margin: 30px 0 30px 0;
}

.single-content__image-or-video iframe {
  width: 700px;
  height: 450px;
}

.single-content__description {
  width: 1000px;
  font-family: "Open Sans", sans-serif;
}

.single-content__description-title {
  text-align: center;
  font-style: bold;
  font-size: 32px;
  margin-bottom: 5px;
  border-bottom: 3px solid #f61067;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.single-content__description-overview {
  font-size: 20px;
  font-style: italic;
  padding: 5px;
  color: #000000b6;
}

@media only screen and (max-width: 1280px) {
  .single-content__image-or-video iframe {
    width: 500px;
    height: 350px;
  }

  .single-content__description {
    width: 600px;
  }
}

@media only screen and (max-width: 768px) {
  .single-content__image-or-video {
    margin-top: 60px;
  }

  .single-content__image-or-video iframe {
    width: 90%;
    height: 200px;
  }

  .single-content__description {
    width: 95%;
  }
}
